body {margin:60px;}

/* image list
*/
#images {list-style:none; margin:0; padding:0;}
#images li {float: left; margin-right:20px; width:60px;}
#images img {display:block;}
#images a {}

/* uploader
*/
.placeholder {float: left; background:#ddd; border:1px solid #ccc; height: 60px; width: 60px; margin:20px 20px 20px 0;}
a.destroy_all {background:red; color:#fff; display: block; float: right;margin-top:-60px;}
#clear_queue {display: inline-block; margin-bottom: 10px;}

#upload_queue {margin:20px 0;}
.uploadifyQueueItem {
	margin-bottom: 5px;
}
.uploadifyError {
	background-color: #FDE5DD !important;
	border: 2px solid #FBCBBC !important;
}
.uploadifyQueueItem .cancel {
	display: inline-block; margin:0 10px -5px 0;
}
.uploadifyQueue .completed {
	color:#999;
}
.uploadifyProgress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 300px;
}
.uploadifyProgressBar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
}
.percentage {font-size:85%; color:#777;}