<h1>Listing images</h1>
<%= link_to "Destroy all", destroy_all_path, :class => "destroy_all" %>

<%= render 'form' %>

<ul id="images">
  <%= render :partial => "list_item", :collection => @images, :as => :image %>
</ul>